<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @yiu.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @yiu.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @yiu.picture %>
</p>

<%= link_to 'Edit', edit_yiu_path(@yiu) %> |
<%= link_to 'Back', yius_path %>
